body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2; 
}

.container {
	width: 1200px;
    margin: 0 40px;

	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
	padding: 0 70px;
}

.main-navigation {
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.intro {
	margin-bottom: 65px;

	background-color: #cccccc;
	background-image: url("../img/background.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.intro img {
	margin-top: 75px;
}

.description {
	margin-bottom: 60px;
}

.description h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.description p {
    margin: 0;
    padding: 0;

	text-align: center;
}

.features {
    margin-bottom: 60px;

	background-color: #eeeeee;
}

.features-list,
.service-list {
	list-style: none;
}

.features-item-wrapper {
	color: #ffffff;

	background-color: #81b3d2;
}

.features-item h3,
.service-list h3 {
	font-size: 21px;
	line-height: 21px;
}

.service-list {
	background-color: #ffffff;
}

.search h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.search p {
	margin: 0;
    padding: 0;
    margin-bottom: 40px;

    line-height: 24px;
    text-align: center;
}

.search a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;

    background-color: #766357;
}

.search a:hover {
    background-color: #604e43;
}

.search a:active {
	color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.search-form p {
	font-weight: 700;
}

.search-form input {
	font: inherit;
	
	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
}

.search-form button {
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.search-form button:hover {
	background-color: #669ec0;
}

.search-form button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.site-navigation-current a {
	color: #766357;
}

.catalog {
	padding: 0 70px;
}

.filters {
    margin-bottom: 30px;

	color: #ffffff;
	line-height: 21px;

	background-color: #cccccc;
	background-image: url("../img/filter-background.jpg");
    background-position: 0 0;
	background-repeat: no-repeat;
}

.filters fieldset {
	border: none;
}

.filters legend,
.filters p {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filter ul {
	list-style: none;
}

.catalog-list {
    margin: 0;
    padding: 0;

	list-style: none;
}

.filter-input:disabled {
	color: #6a6a6a;
}

.filter-button {
	font: inherit;

	text-transform: uppercase;
	color: #ffffff;

	background-color: transparent;
	border: 1px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
	color: #000000;

	background-color: #ffffff;
	border: none;
}

.filter-results {
	display: flex;
	justify-content: space-between;
	width: 520px;
	margin-bottom: 65px;
}

.sort {
	display: flex;
	justify-content: space-between;
}

.sort li {
	padding-left: 30px;
}

.filter-results p:first-child {
	padding-right: 40px;
	font-size: 21px;
	font-weight: 700;
}

.filter-results p:nth-child(2),
.filter-results li {
	font-size: 12px;
	line-height: 18px;
}

.filter-results p {
	margin: 0;
	padding: 0;
}

.filter-results ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-results a {
	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sort-current a {
	color: #81b3d2;

	border: none;
}

.filter-results a:hover,
.filter-results a:focus {
	color: #81b3d2;

	border-bottom: 1px dotted #81b3d2;
}

.filter-results a:active {
	color: #000000;

	border: none;
}

.catalog-item {
	display: flex;
	margin-bottom: 60px;
}

.catalog-image {
	margin-right: 30px;
}

.catalog-description {
	width: 365px;
}

.catalog-description h3 {
    margin: 0;
    padding: 0;

	font-size: 21px;
}

.catalog-description a {
	color: #000000;
}

.catalog-description a:hover {
    color: #81b3d2;
}

.catalog-description a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-description p {
    margin: 0;
    padding: 0;
}

.rating {
	margin: 0;
    margin-left: auto;
}

.button a {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

a.learn-more {
	background-color: #81b3d2;
}

a.learn-more:hover {
	color: #ffffff;

	background-color: #669ec0;
}

a.learn-more:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

a.to-book {
	background-color: #766357;
}

a.to-book:hover {
	color: #ffffff;

	background-color: #604e43;
}

a.to-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33; 
}

.rating span {
	background-color: #f2f2f2;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px 70px;

	color: #000000;

	background-color: #ffffff;
}

.main-footer p:first-child {
    margin: 0;
    padding: 0;

	width: 240px;
	font-size: 21px;
	font-weight: 700;
}

.footer-social {
	margin: 0;
    padding: 0;
	width: 400px;

	list-style: none;
}

.footer-copyright {
	margin: 0;
    padding: 0;
	width: 240px;
}
