body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2; 
}

.container {
	width: 1200px;
    margin: 0 auto;

	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
	position: relative;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
}

.main-navigation {
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation a {
	display: block;
    width: 100px;
    padding: 15px 70px;

	color: #000000;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.intro {
	display: flex;
	margin-bottom: 65px;

	background-color: #cccccc;
	background-image: url("../img/background.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.intro img {
	margin: auto;
	margin-top: 75px;
	margin-bottom: 80px;
}

.description {
	margin-bottom: 60px;
}

.description h1 {
	width: 450px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;

	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.description p {
    margin: 0;
    padding: 0;

	text-align: center;
}

.features {
    margin-bottom: 60px;

	background-color: #eeeeee;
}


.features-list,
.service-list {
    margin: 0;
    padding: 0;

	list-style: none;
}

.features-item {
	display: flex;
}

.features-item-wrapper {
	color: #ffffff;

	background-color: #81b3d2;
}

.features-item h3,
.service-list h3 {
	font-size: 21px;
	line-height: 21px;
}

.features-item figure {
	margin: 0;
    padding: 0;
}

.features-item img {
	width: 800px;
    height: 257px;
}

.service-list {
    display: flex;

	background-color: #ffffff;
}

.service-item {
	width: 400px;
	text-align: center;
}

.search h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.search p {
	display: block;
	width: 450px;
	margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;

    line-height: 24px;
    text-align: center;
}

.search a {
	display: block;
	width: 290px;
	padding: 30px 139px;
	margin: 0 auto;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;

    background-color: #766357;
}

.search a:hover {
    background-color: #604e43;
}

.search a:active {
	color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.search-form p {
	font-weight: 700;
}

.search-form input {
	font: inherit;
	
	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
}

.search-form button {
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.search-form button:hover {
	background-color: #669ec0;
}

.search-form button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.site-navigation-current a {
	color: #766357;
}

.catalog {
	/*padding: 0 70px;*/
}

.filters {
    margin-bottom: 30px;

	color: #ffffff;
	line-height: 21px;

	background-color: #cccccc;
	background-image: url("../img/filter-background.jpg");
    background-position: 0 0;
	background-repeat: no-repeat;
}

.filters fieldset {
	border: none;
}

.filters legend,
.filters p {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filter ul {
	list-style: none;
}

.catalog-list {
    margin: 0;
    padding: 0;

	list-style: none;
}

.filter-input:disabled {
	color: #6a6a6a;
}

.filter-button {
	font: inherit;

	text-transform: uppercase;
	color: #ffffff;

	background-color: transparent;
	border: 1px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
	color: #000000;

	background-color: #ffffff;
	border: none;
}

.filter-results {
	border-bottom: 1px solid #e5e5e5;
	/*margin-bottom: 65px;*/
}

.filter-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 520px;
	padding-left: 70px;
	margin-bottom: 35px;
}

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort li {
	padding-left: 30px;
}

.filter-results p:first-child {
	padding-right: 40px;
	font-size: 21px;
	font-weight: 700;
}

.filter-results p:nth-child(2),
.filter-results li {
	font-size: 12px;
	line-height: 18px;
}

.filter-results p {
	margin: 0;
	padding: 0;
}

.filter-results ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-results a {
	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sort-current a {
	color: #81b3d2;

	border: none;
}

.filter-results a:hover,
.filter-results a:focus {
	color: #81b3d2;

	border-bottom: 1px dotted #81b3d2;
}

.filter-results a:active {
	color: #000000;

	border: none;
}

.catalog-item {
	display: flex;
	align-items: center;
	
	border-bottom: 1px solid #e5e5e5;
}

.catalog-image {
	margin: 0 30px 0 70px;
	width: 135px;
	height: 90px;
}

.catalog-description {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 258px;
	min-height: 90px;
	margin: 30px 0 30px 0;
}

.catalog-description h3 {
    margin: 0;
    padding: 0;

	font-size: 21px;
}

.catalog-description a {
	color: #000000;
}

.catalog-description a:hover {
    color: #81b3d2;
}

.catalog-description a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-description p {
    margin: 0;
    padding: 0;
}

.catalog-button {
	display: flex;
	justify-content: space-between;
	width: 258px;
}

.learn-more,
.to-book {
	padding: 5px 16px;
}

.button a {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

a.learn-more {
	background-color: #81b3d2;
}

a.learn-more:hover {
	color: #ffffff;

	background-color: #669ec0;
}

a.learn-more:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

a.to-book {
	background-color: #766357;
}

a.to-book:hover {
	color: #ffffff;

	background-color: #604e43;
}

a.to-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33; 
}

.rating {
	margin: 0;
    margin-left: auto;
    margin-right: 70px; 
}

.rating span {
	background-color: #f2f2f2;
}

.map {
	margin: 0;
    padding: 0;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
	color: #000000;

	background-color: #ffffff;
}

.main-footer p:first-child {
    margin: 0;
    padding-left: 132px;

	width: 180px;
	font-size: 21px;
	font-weight: 700;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

    padding: 36px 0;
    margin: 0 auto;
	width: 150px;

	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	opacity: 0.3;
}

.footer-copyright {
	margin: 0;
    padding-right: 101px;
	width: 210px;
}

.copyright-logo svg {
	vertical-align: middle;
}

.copyright-logo path {
    fill: #231f20;
}

.copyright-logo:hover path,
.copyright-logo:hover path {
    fill: #81b3d2;
}

.copyright-logo:active path {
    fill: #bdbbbc;
}