body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2; 
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
	position: relative;

	width: 1200px;
    margin: 0 auto;

	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.main-header {
	position: relative;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 140px;
}

.main-navigation {
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation a {
	display: block;
    width: 100px;
    padding: 15px 70px;

	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.intro {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 65px;

	background-color: #cccccc;
	background-image: url("../img/background.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.intro img {
	margin: auto;
	margin-top: 75px;
	margin-bottom: 80px;
}

.description {
	position: relative;
	margin-bottom: 60px;
}

.description::before {
    content: "";
    position: absolute;
    top: -122px;
    left: -1px;

    width: 100%;
    height: 60px;

    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
}

.description h1 {
	width: 450px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;

	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.description p {
    margin: 0;
    padding: 0;

	text-align: center;
}

.features {
    margin-bottom: 60px;

	background-color: #eeeeee;
}

.features-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	background-color: #ffffff;
}

.features-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 58px 0;
    width: 400px;

	color: #ffffff;
	text-align: center;

	background-color: #81b3d2;
}

.features-item-wrapper p:last-child {
	margin: 0;
	width: 280px;
}

.features-item h3,
.service-list h3 {
	width: 165px;
	margin: 0;

	font-size: 21px;
	line-height: 21px;
}

.features-item figure {
	margin: 0;
    padding: 0;
    height: 256px;
}

.features-item img {
	width: 800px;
    height: 256px;
}

.service-list {
    display: flex;
    justify-content: space-between;

	background-color: #ffffff;
}

.service-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 165px 0 90px 0;
	width: 400px;

	text-align: center;
}

.service-item p {
	width: 305px;
}

.service-item:first-child {
	background-image: url("../img/icon-1.png");
	background-position: 50% 25%;
	background-repeat: no-repeat;
}

.service-item:nth-child(2) {
	background-image: url("../img/icon-2.png");
	background-position: 50% 25%;
	background-repeat: no-repeat;
}

.service-item:last-child {
	background-image: url("../img/icon-3.png");
	background-position: 50% 25%;
	background-repeat: no-repeat;
}

.features-item-container {
	display: flex;
    justify-content: space-between;
}

.features-item-column {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 58px 0;
    width: 400px;

    text-align: center;

    background-color: #eeeeee;
}

.features-item-column p:last-child {
	margin: 0;
	padding: 0;
	width: 265px;
}

.search h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.search {
	position: relative;
}

.search p {
	display: block;
	width: 450px;
	margin: 0 auto;
	margin-bottom: 40px;
    padding: 0;

    line-height: 24px;
    text-align: center;
}

.search a {
	display: block;
	width: 300px;
	padding: 30px 134px;
	margin: 0 auto;

	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

    background-color: #766357;
}

.search a:hover,
.search a:focus {
    background-color: #604e43;
}

.search a:active {
	color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.search-form {
    position: absolute;
    top: 250px;
    left: 316px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	padding-top: 57px;
	width: 568px;

	background-color: #ffffff;
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.form-item {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 460px;
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.search-form input {
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	padding: 6px 12px;
	margin-left: auto;

	font: inherit;
	
	background-color: #f2f2f2;
	border: none;
	text-transform: uppercase;
}

.search-form input:hover, {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.calendar {
	position: absolute;
	right: 0;
	top: 1px;

	width: 35px;
	height: 35px;

    background: transparent;
    border: none;
    cursor: pointer;
}

.calendar svg {
    fill: #cacaca;
}

.calendar svg:hover,
.calendar svg:focus {
    fill: #000000;
}

.calendar svg:active {
    fill: #81b3d2;
}

.input-wrapper {
	display: flex;
	justify-content: space-between;
	width: 460px;
}

.input-wrapper-column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 230px;
}

.input-wrapper-column:last-child {
	width: 180px;
}

.input-wrapper input {
	padding: 6px 15px 6px 15px;
	width: 40px;
	height: 38px;

	text-align: center;
}

.value {
	display: flex;
	justify-content: flex-start;
	width: 114px;
}

.value-minus {
	width: 38px;

    background-color: #f2f2f2;
    background-image: url("../img/minus-grey.png");
    background-position: 50%;
	background-repeat: no-repeat;

    border: none;
    cursor: pointer;
}

.value-plus {
	width: 38px;

    background-color: #f2f2f2;
    background-image: url("../img/plus-grey.png");
    background-position: 50%;
	background-repeat: no-repeat;
    
    border: none;
    cursor: pointer;
}

.value-minus:hover,
.value-minus:focus {
   background-image: url("../img/minus-black.png");
}

.value-plus:hover,
.value-plus:focus {
   background-image: url("../img/plus-black.png");
}

.value-minus:active {
    background-image: url("../img/minus-blue.png");
}

.value-plus:active {
    background-image: url("../img/plus-blue.png");
}

.search-form .button {
	display: block;
	width: 458px;
	padding: 18px 195px 22px 195px;
	margin-top: 24px;
	margin-bottom: 48px;

	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.search-form .button:hover,
.search-form .button:focus {
	background-color: #669ec0;
}

.search-form .button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.site-navigation-current a {
	color: #766357;
}

.filters {
    margin-bottom: 30px;
    padding: 30px 70px;

	color: #ffffff;
	line-height: 21px;

	background-color: #cccccc;
	background-image: url("../img/filter-background.jpg");
    background-position: 0 0;
	background-repeat: no-repeat;
}

.filter {
	display: flex;
	justify-content: space-between;
}

.filters fieldset {
	margin: 0;
    padding: 0;
    width: 256px;

	border: none;
}

.filters legend,
.filters p {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filters legend {
	margin-bottom: 25px;
}

.filter ul {
	margin: 0;
    padding: 0;

	list-style: none;
}

.filter-option {
	margin-bottom: 23px;
	padding-left: 40px;
}

.filter-option label {
	position: relative;

    display: block;

    cursor: pointer;

}

.filter-input + label::before {
	content: "";
    position: absolute;
    left: -42px;
    top: -2px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:checked + label::before {
	content: "";
    position: absolute;
    left: -42px;
    top: -2px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:disabled + label::before {
	content: "";
    position: absolute;
    left: -42px;
    top: -2px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-off-disabled.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-range {
	width: 330px;
	margin-left: auto;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;

    width: 2px;
    height: 22px;
    top: 50%;
    left: 50%;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
	position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
    color: #000000;

    background: #ffffff;
}

.filter-results {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid #e5e5e5;
}

.filter-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 520px;
	padding-left: 70px;
	margin-bottom: 35px;
}

.filter-results p {
	margin: 0;
	padding: 0;
}

.filter-results ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-results p:first-child {
	padding-right: 40px;
	font-size: 21px;
	font-weight: 700;
}

.filter-results p:nth-child(2),
.filter-results li {
	font-size: 12px;
	line-height: 18px;
}

.filter-results a {
	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.filter-results a:hover,
.filter-results a:focus {
	color: #81b3d2;

	border-bottom: 1px dotted #81b3d2;
}

.filter-results a:active {
	color: #000000;

	border: none;
}

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort li {
	padding-left: 30px;
}

.sort-current a {
	color: #81b3d2;

	border: none;
}

.icons {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: 70px;
	width: 35px;
}

.icon-up {
	width: 11px;
	height: 10px;

    background-image: url("../img/icon-up-dir.png");
    background-repeat: no-repeat;
}

.icon-down {
	width: 11px;
	height: 10px;

    background-image: url("../img/icon-down-dir.png");
    background-repeat: no-repeat;
}

.catalog-list {
    margin: 0;
    padding: 0;

	list-style: none;
}

.catalog-item {
	display: flex;
	align-items: center;
	
	border-bottom: 1px solid #e5e5e5;
}

.catalog-image {
	margin: 0 30px 0 70px;
	width: 135px;
	height: 90px;
}

.catalog-description {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 258px;
	min-height: 90px;
	margin: 30px 0 30px 0;
}

.catalog-description h3 {
    margin: 0;
    padding: 0;

	font-size: 21px;
}

.catalog-description a {
	color: #000000;
}

.catalog-description a:hover,
.catalog-description a:focus {
    color: #81b3d2;
}

.catalog-description a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-description p {
    margin: 0;
    padding: 0;
}

.catalog-button {
	display: flex;
	justify-content: space-between;
	width: 258px;
}

.learn-more,
.to-book {
	padding: 5px 16px;
}

.button a {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

a.learn-more {
	background-color: #81b3d2;
}

a.learn-more:hover,
a.learn-more:focus {
	color: #ffffff;

	background-color: #669ec0;
}

a.learn-more:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

a.to-book {
	background-color: #766357;
}

a.to-book:hover,
a.to-book:focus {
	color: #ffffff;

	background-color: #604e43;
}

a.to-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33; 
}

.rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90px;
	margin: 0;
    margin-left: auto;
    margin-right: 70px; 
}

.rating-stars {
	display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
	width: 100px;
}
	
.rating-stars span {
	margin-left: 5px;
    width: 18px;
    height: 17px;

    background-image: url("../img/star.png");
    background-repeat: no-repeat;
}

.rating p {
	margin: 0;
	padding: 0;

	background-color: #f2f2f2;
}

.map {
	margin: 0;
    padding: 0;
}

.main-footer {
	position: absolute;
	left: 0;
	bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    
	color: #000000;

	background-color: #ffffff;
	opacity: 0.9;
}

.inner-page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    
	color: #000000;

	background-color: #ffffff;
}

.main-footer p:first-child,
.inner-page-footer p:first-child {
    margin: 0;
    padding-left: 132px;

	width: 180px;
	font-size: 21px;
	font-weight: 700;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

    padding: 36px 0;
    margin: 0 auto;
	width: 150px;

	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	opacity: 0.3;
}

.footer-copyright {
	margin: 0;
    padding-right: 101px;
	width: 210px;
}

.copyright-logo svg {
	vertical-align: middle;
}

.copyright-logo path {
    fill: #231f20;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
    fill: #81b3d2;
}

.copyright-logo:active path {
    fill: #bdbbbc;
}